.error {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 15vh;
  width: 30vw;
}

#notfound {
  color: #33bd8f;
  padding-top: 4rem;
  font-size: 3rem;
  position: relative;
  animation: move 6.5s infinite alternate both ease-in-out;
}

@keyframes move {
  0% {
    left: -145px;
  }
  35% {
    left: 145px;
  }
  70% {
    left: -145px;
  }
  100% {
    left: 145px;
  }
}
