* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  color: black;
  margin: 100px auto;
  border-radius: 10px;
  width: 50%;
  background-color: aqua;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
